/* Desktop devices */
@media only screen and (min-width: 801px) {
  .header {
    background-color: #dce2a6;
    height: 200px;
    width: 100%;
  }

  .infoDescBanner {
    width: 50rem;
    background-color: white;
    padding: $xlSpacing;
    margin: 0 auto;
  }

  .nav-veilederpanel__content > p {
      text-align: center;
  }

  
  .content {
    margin-bottom: $lSpacing;
  }

  .customPanel {
    width: 45rem;
    margin: 0 auto $lSpacing;
    padding: $sSpacing;
  }

  .customPanel .panel {
    padding: $xlSpacing;
  }
}
