/* Desktop devices */
@media only screen and (min-width: 801px) {
  .header {
    background-color: #dce2a6;
    height: 200px;
    width: 100%;
  }

  .infoDescBanner {
    width: 50rem;
    background-color: white;
    padding: $xlSpacing;
    margin: 0 auto;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    margin-bottom: $lSpacing;
  }

  .customPanel {
    width: 45rem;
    margin: 0 auto $lSpacing;
    padding: $sSpacing;
  }

  .customPanel > .nav-veilederpanel--info{
    background-color: #6ab889;
  }

  .customPanel .panel {
    padding: $xlSpacing;
  }

  .veilederWrapperPanel {
    width: 45rem;
    margin: 0 auto $lSpacing;
  }
}


