/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    background-color: #dce2a6;
    height: 150px;
    width: 100%;
  }

  .infoDescBanner {
    background-color: white;
    padding: $xlSpacing;
    margin-bottom: $xlSpacing;
  }

  .PanelContent {
    max-width: 80%;
  }

  .infoPanel {
    margin: 0 auto;
    width: 95%;
    margin-bottom: $sSpacing;
  }

  .customPanel .inputPanel {
    margin-bottom: 1rem;
  }

  .customPanel {
    margin: 0 auto;
    width: 95%;
    margin-bottom: $sSpacing;
  }

  
  //Avatar
  .customPanel .nav-veilederpanel--plakat .nav-veileder {
    transform: scale(0.7);
  }

  .customPanel .panel {
    padding: $sSpacing;
  }
}
