/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    background-color: #dce2a6;
    height: 150px;
    width: 100%;
  }

  .infoDescBanner {
    background-color: white;
    padding: $xlSpacing;
    margin-bottom: $xlSpacing;
  }

  .ingressBox {
    text-align: center;
    margin: 1rem 0 1.5rem 0;
  }

  .PanelContent {
    max-width: 80%;
  }

  .contactPersonForm {
    display: block;
  }

  // Find a better way
  .nav-veilederpanel--kompakt.nav-veilederpanel--plakat {
    margin-top: 3.125rem !important;
    padding: 1rem !important;
    padding-top: 4.25rem !important;
  }

  .infoPanel {
    margin: 0 auto;
    width: 95%;
    margin-bottom: $sSpacing;
  }

  .customPanel .inputPanel {
    margin-bottom: 1rem;
  }

  .customPanel {
    margin: 0 auto;
    width: 95%;
    margin-bottom: $sSpacing;
  }

  .hjelpemiddelForm .skjemaelement {
    margin-bottom: $sSpacing;
  }

  //Avatar
  .customPanel .nav-veilederpanel--plakat .nav-veileder {
    transform: scale(0.7);
  }

  .customPanel .panel {
    padding: $sSpacing;
  }

  .hjelpetekst .hjelpetekst__innhold {
    max-width: 20rem;
    white-space: pre-line;
  }

  .handlekurv {
    text-align: center;
    margin-bottom: $sSpacing;
  }

  .handlekurv .knapp {
    font-weight: normal;
    letter-spacing: normal;
    color: black;
    text-transform: none;
  }

  #handlekurvCount {
    background-color: $navLimeGronn;
    margin-left: 0.3rem;
    padding: 0.2rem 0.8rem;
    font-weight: bolder;
    font-size: larger;
    border-radius: 0.3rem;
  }

  .hjelpemiddelVilkaroverskrift {
    font-weight: bolder;
  }

  .singleRow {
    display: flex;
    flex-direction: row;
  }

  .singleRow .singleRowElementGrow {
    flex-grow: 1;
    word-break: break-word;
    padding-right: $xsSpacing;
  }

  .singleRow .singleRowElementGrowEllipsis {
    flex-grow: 1;
    overflow: hidden;
  }

  .singleRow .singleRowElementFixed {
    flex: 0 0 3.5rem;
    text-align: right;
  }

  .singleRow .breakLongWords {
    word-break: break-word;
  }

  .rightAlignedRowOneElement {
    text-align: right;
    width: 100%;
  }

  #ellipsisLink {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .smallContentBlock .lenkepanel .typo-element,
  .smallContentBlock .lenkepanel .typo-normal {
    margin-bottom: 0;
  }

  .smallContentBlock .lenkepanel {
    padding: $xsSpacing;
    margin-bottom: $xsSpacing;
  }

  .smallContentBlock .textAlignRight {
    text-align: right;
    padding-right: $xsSpacing;
  }

  .smallContentBlock .textIndent {
    text-indent: $xsSpacing;
  }

  .lenkepanel .lenkepanelFullWidth {
    width: 100%;
  }

  .lenkepanel .lenkepanel__indikator {
    visibility: hidden;
    width: 0;
  }

  .row .kategori:not(:last-child) {
    padding-bottom: 0.6rem;
  }

  .centerButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #ekstrainfo {
    padding-top: 1rem;
  }

  .customPanel .knapp--kompakt {
    margin-right: $sSpacing;
  }

  .customPanel .knapp--kompakt:last-of-type {
    margin-right: 0;
  }

  .spaceBetweenTwoButtons {
    margin-right: 0;
  }

  .spaceBetweenTwoVerticalButtons {
    margin-bottom: 1rem;
  }

  .contactPersonForm .skjemaelement {
    padding-bottom: $sSpacing;
  }

  #hentesPaaHjelpemiddelsentralenMerknad {
    margin-top: $xsSpacing;
    margin-bottom: $sSpacing;
  }

  .skjemagruppe.inputPanelGruppe {
    padding-bottom: $sSpacing;
  }

  .skjemagruppe.radiogruppe {
    padding-bottom: $xsSpacing;
  }
  .skjemagruppe.radiogruppe:last-of-type {
    padding-bottom: 0;
  }

  .modal {
    padding: 0 !important;
  }

  .customModal {
    padding: $sSpacing;
    width: 18rem;
    margin-top: 3rem;
  }

  .institusjonInfo {
    margin: 0 0 5%;
  }

  .flexTableRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }

  .editLink {
    display: flex;
    align-items: center;
  }

  .endreTekst {
    display: none;
  }

  .editIcon {
    width: 1rem;
    height: auto;
  }

  .alignRight {
    float: right;
  }

  .stegIndikator {
    padding-bottom: 0 !important;
  }

  .hjelpemiddelInfoRow {
    display: flex;
    flex-direction: column-reverse;
  }

  .hmsTable {
    vertical-align: top;
  }

  .hmsInfoTable {
    display: flex;
    flex-direction: column-reverse;

    .utlevertInfo {
      margin-left: auto;
    }
  }
  .categoryRow {
    vertical-align: text-bottom;
  }

  #forklaringstekstLevering {
    margin-bottom: $xsSpacing;
    margin-top: $xsSpacing;
  }

  .infoRow {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }

  .infoRowReverse {
    flex-direction: column-reverse;
  }

  #formidlernavn {
    margin-bottom: $sSpacing;
  }

  #formidlernavn .typo-element {
    margin-bottom: $xsSpacing;
  }

  #vilkarRadioGroup {
    flex-direction: column;
  }
}
