//@import "reset";

@import 'variables';

@import 'mobile';

@import 'desktop';

html {
  min-height: 100%;
  background-color: #F2F2F2;
  font-size: 16px;
  color: $navMorkGra;
}

.pagewrapper {
    padding-bottom: $xlSpacing;
}

.soknadsKort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.soknadsKort > div:last-child {
    margin-left: auto;
    padding-right: 1rem;
}


.pagewrapper {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.banner {
  padding-top: $lSpacing;
}

.customPanel.feilside .nav-veileder__frame {
  background: transparent;
  height: 100%;
}

.fontBold > .typo-normal {
    font-weight: bold;
}
.centeredElement {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titleCenter {
  text-align: center;
  margin-bottom: $xlSpacing;
}

.titleCenter.typo-innholdstittel,
.titleCenter.typo-systemtittel {
  margin-bottom: $sSpacing;
}

.knappepanel {
  display: flex;
  justify-content: center;
  margin-top: $lSpacing;
  margin-bottom: $sSpacing;
}

.small-media-reverse-wrap {
  flex-wrap: wrap-reverse;
}

@media (min-width: 50rem) {
  .small-media-reverse-wrap {
    flex-wrap: nowrap;
  }
}


// Not .typo-sidetittel, .typo-innholdstittel, .typo-systemtittel, .typo-ingress in the beginning
.typo-undertittel,
.typo-element,
.typo-feilmelding,
.typo-normal,
.typo-etikett-liten,
.typo-undertekst {
  overflow: hidden;
  // max-width: 80ch;
}

.navds-link-panel__content {
  flex-grow: 1;
}


// Soknad
.contentBlock,
.contentBlock.typo-element,
.contentBlock.typo-normal {
  margin-bottom: $lSpacing;
}
.contentBlock.typo-undertittel {
  margin-bottom: $mSpacing;
}

.categoryRow {
  display: flex;
  justify-content: space-between;
}

.infoTable {
  display: table;
  width: 100%;
}

.infoRow {
  display: table-row;
  width: 100%;
}

.infoRowCell,
.infoRowCellHms {
  display: table-cell;
}