// Basisfargar
$navLysGra: #e9e7e7;
$navRod: #c30000;
$navBla: #0067c5;
$navMorkGra: #3e3832;
$navGra80: #59514b;
$navGra60: #78706a;
$navGra40: #b7b1a9;
$navGra20: #c6c2bf;

$backgroundColorInfo: $navLysGra;
$backgroundColor: white;
$bannerColor: #dce2a6;

// Fokusfarge
$fokusFarge: #254b6d;

// Suksess
$navGronn: #06893a;
$navGronnLighten20: #38a161;
$navGronnLighten40: #6ab889;
$navGronnLighten60: #9bd0b0;
$navGronnLighten80: #cde7d8;

// Banner
$navLimeGronn: #a2ad00;
$navLimeGronnLighten20: #b5bd33;
$navLimeGronnLighten40: #c7ce66;
$navLimeGronnLighten60: #dade99;
$navLimeGronnLighten80: #ecefcc;

// Feilmelding
$navRedError: #ba3a26;
$navPinkErrorBg: #f3e3e3;

// Advarsel
$navOransje: #ff9100;
$navOransjeLighten40: #ffbd66;
$navOransjeLighten60: #ffd399;

// Størrelser
$xsSpacing: 0.5rem;
$sSpacing: 1rem;
$mSpacing: 1.25rem;
$lSpacing: 1.5rem;
$xlSpacing: 2rem;
$xxlSpacing: 4rem;

$navLysBlaLighten80: #e0f5fb;
$navLysBlaDarken40: #5690a2;

$navDypBla: #005b82;
